/* Nav Bar */
.mynav{
    background-color: #fff;
/*    border-bottom: 3px solid #68088D;*/
    margin-bottom: 0px;
    border-bottom: solid transparent;
    border-width: 0 0 3px 0;
    -moz-border-image: -moz-linear-gradient(top, #68088D 20%, #AB167C 50%);
    -webkit-border-image: -webkit-linear-gradient(top, #68088D 20%, #AB167C 50%);
    border-image: linear-gradient(to right, #68088D 20%, #AB167C 50%);
    border-image-slice: 1;
}

.h1topic{
    color: #68088D;
    margin-top: -30px;
}

.submitbtn{
    margin-top: -50px;    
}

.btn-success-sawasdee {
  color: #ffffff;
  background-color: #68088D;
  border-color: #68088D;
  font-size: 1.3em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;  
  transition:.5s;
  
}

.btn-success-sawasdee:hover{
    color: #fff;
    background-color: #AB167C;
    border-color: #971281;
}


/* Table style */

th:nth-child(1){
    width: 5%;
}
th:nth-child(2){
    width: 20%;
}
th:nth-child(3){
    width: 20%;
}
th:nth-child(4){
    width: 20%;
}
th:nth-child(5){
    width: 20%;
}

.expenseTableBody{
    font-size: 1.05em;
}

.container-fluid .fontbody{
    font-size: 1.05em;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: pointer;
  background-color: #fff;
  opacity: 1;
}